<div data-cid="home-0">
    <nav id="nav" aria-label="Main" class="bpZK6_os _3kCwMieF  _5J4FYFpA   CV4YLXjk  bg-black " style="color: white;" #navList>
      <div data-testid="nav-container" class="_10M8yw-N _1fA2l0Sj"><button type="button" aria-label="menu"
          class="olcpnQ-e _149kcYtF "><span></span><span></span><span></span></button>
        <div class="_2SKZhefz">
          <div class="_2zFNtrUH">
            <a href="/" title="Toptal" aria-label="Toptal" data-ga-category="top_nav" data-ga-event="navbar_click"
              data-ga-label="Logo" class="_1lqQP1In  ">
              <div data-testid="wordmarkpng" class="aowwyHr4 _3pv3brId  "><img alt="Toptal" data-checker="" class=""
                  src="../../../../assets/dlogo.png"
                  decoding="async" width="116" height="70" /></div>
            </a>
          </div>
        </div>
        <div class="ml-auto md:hidden"><a href="/hire" data-ga-category="Hire Top Talent Mobile"
            data-ga-event="Hire CTA Click" data-testid="nav-cta" id="navbar-mobile-cta"
            class="_13qVZnF8  _1SZtmxGM _2Yt-rhsd _1S6tHuDo  ">Hire Top Talent</a></div>
        <div class="_19S1Pxiu"><a data-ga-category="top_nav" data-ga-event="navbar_click" data-ga-label="Top 3%"
            href="/top-3-percent" class="_1rZ7kgJi  Vt5M1_D_  ">Top 3%</a><a data-ga-category="top_nav"
            data-ga-event="navbar_click" data-ga-label="Why" href="/why" class="_1rZ7kgJi  Vt5M1_D_  ">Why</a><a
            data-ga-category="top_nav" data-ga-event="navbar_click" data-ga-label="Clients" href="/clients"
            class="_1rZ7kgJi  Vt5M1_D_  ">Clients</a><a data-ga-category="top_nav" data-ga-event="navbar_click"
            data-ga-label="Community" href="/community" class="_1rZ7kgJi  Vt5M1_D_  ">Community</a>
          <div role="presentation" data-expanded="false" class="_1rZ7kgJi  Vt5M1_D_   _1gHFhirN"><button
              aria-haspopup="true" aria-expanded="false" class="_3D9T9QSe " data-ga-category="top_nav"
              data-ga-event="navbar_click" data-ga-label="Industries"><span>Industries</span><svg viewBox="0 0 512 512"
                class="_3vjPAKai">
                <path fill="currentColor"
                  d="M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z">
                </path>
              </svg></button>
            <div role="menu" data-happo-hide="true" class="_3eM4gMdx"><a data-ga-category="top_nav"
                data-ga-event="navbar_click" data-ga-label="Healthcare and Life Sciences" role="menuitem"
                href="/industry/healthcare" class="_2-oDGCM5 ">Healthcare and Life
                Sciences</a><a data-ga-category="top_nav" data-ga-event="navbar_click"
                data-ga-label="Consumer Products and Services" role="menuitem" href="/industry/consumer-products"
                class="_2-oDGCM5 ">Consumer Products and
                Services</a><a data-ga-category="top_nav" data-ga-event="navbar_click"
                data-ga-label="Financial Services" role="menuitem" href="/industry/financial-services"
                class="_2-oDGCM5 ">Financial Services</a><a data-ga-category="top_nav" data-ga-event="navbar_click"
                data-ga-label="Industrials" role="menuitem" href="/industry/industrials"
                class="_2-oDGCM5 ">Industrials</a><a data-ga-category="top_nav" data-ga-event="navbar_click"
                data-ga-label="Communications, Media, and Entertainment" role="menuitem" href="/industry/media"
                class="_2-oDGCM5 ">Communications, Media, and
                Entertainment</a>
              <a data-ga-category="top_nav" data-ga-event="navbar_click" data-ga-label="Technology" role="menuitem"
                href="/industry/technology" class="_2-oDGCM5 ">Technology</a><a data-ga-category="top_nav"
                data-ga-event="navbar_click" data-ga-label="Automotive" role="menuitem" href="/industry/automotive"
                class="_2-oDGCM5 ">Automotive</a>
            </div>
          </div><a data-ga-category="top_nav" data-ga-event="navbar_click" data-ga-label="Blog" href="/blog"
            class="_1rZ7kgJi  Vt5M1_D_  ">Blog</a><a data-ga-category="top_nav" data-ga-event="navbar_click"
            data-ga-label="About Us" href="/about" class="_1rZ7kgJi  Vt5M1_D_  ">About Us</a>
        </div>
        <ul id="navbar-actions-toolbar" class="_1H08x506">
          <li class="_3MRiAuyU"><a href="/talent/apply" data-ga-category="top_nav" data-ga-event="apply"
              data-ga-label="Nav Bar CTA" data-testid="nav-cta"
              class="_13qVZnF8 _1SDPwyms  _1SZtmxGM fjJsJsV- _1S6tHuDo  ">Apply as a Freelancer</a>
          </li>
          <li class="_3MRiAuyU _2oFSXYPu"><a href="/hire" data-testid="nav-cta"
              class="_13qVZnF8  _1SZtmxGM _2Yt-rhsd _1S6tHuDo  ">Hire Top Talent</a></li>
          <li class="_3MRiAuyU"><a href="/users/login" data-testid="nav-cta" rel="nofollow"
              class="_13qVZnF8 _1SDPwyms   _1SZtmxGM fjJsJsV- _1S6tHuDo  ">Log In</a></li>
        </ul><button type="button" aria-label="menu" data-testid="burger-menu-button"
          class="CtkKdTBv _149kcYtF "><span></span><span></span><span></span></button>
      </div>
    </nav>
  </div>