/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: Proxima Nova, proxima-nova, Proxima Nova Fallback, Arial,
    sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input {
  font-family: inherit;
}

@font-face {
  font-display: swap;
  font-family: Proxima Nova;
  font-weight: 100;
  src: url(https://frontier-assets.toptal.com/f8e4e5e0f88fa92b8b2b.woff2)
      format("woff2"),
    url(https://frontier-assets.toptal.com/0f40909c90d204c68ab5.woff)
      format("woff"),
    url(https://frontier-assets.toptal.com/b0d2279d75279ba5b3fd.otf)
      format("opentype");
}

@font-face {
  size-adjust: 96.25%;
  ascent-override: 92.05%;
  descent-override: 28.88%;
  font-display: swap;
  font-family: Proxima Nova Fallback;
  font-weight: 100;
  line-gap-override: 0%;
  src: local(Arial);
}

@font-face {
  font-display: swap;
  font-family: Proxima Nova;
  font-weight: 300;
  src: url(https://frontier-assets.toptal.com/d80ad4c8e18059ddc460.woff2)
      format("woff2"),
    url(https://frontier-assets.toptal.com/1b578e8b5c4ac92b8395.woff)
      format("woff"),
    url(https://frontier-assets.toptal.com/367531d5c657281665cd.otf)
      format("opentype");
}

@font-face {
  size-adjust: 97.75%;
  ascent-override: 110.39%;
  descent-override: 33.15%;
  font-display: swap;
  font-family: Proxima Nova Fallback;
  font-weight: 300;
  line-gap-override: 0%;
  src: local(Arial);
}

@font-face {
  font-display: swap;
  font-family: Proxima Nova;
  font-weight: 400;
  src: url(https://frontier-assets.toptal.com/291c741712fd3b53e3cd.woff2)
      format("woff2"),
    url(https://frontier-assets.toptal.com/4d2d8ebe56464cd7234e.woff)
      format("woff"),
    url(https://frontier-assets.toptal.com/7bc9ce404c297c24f210.otf)
      format("opentype");
}

@font-face {
  size-adjust: 99.14%;
  ascent-override: 108.84%;
  descent-override: 34.8%;
  font-display: swap;
  font-family: Proxima Nova Fallback;
  font-weight: 400;
  line-gap-override: 0%;
  src: local(Arial);
}

@font-face {
  font-display: swap;
  font-family: Proxima Nova;
  font-weight: 600 700;
  src: url(https://frontier-assets.toptal.com/7e622b82efdc7e3662c0.woff2)
      format("woff2"),
    url(https://frontier-assets.toptal.com/2df1420bba54cdc8bee3.woff)
      format("woff"),
    url(https://frontier-assets.toptal.com/227817852e96b494055e.otf)
      format("opentype");
}

@font-face {
  size-adjust: 101.07%;
  ascent-override: 106.76%;
  descent-override: 37.1%;
  font-display: swap;
  font-family: Proxima Nova Fallback;
  font-weight: 600 700;
  line-gap-override: 0%;
  src: local(Arial);
}

@font-face {
  font-display: swap;
  font-family: Merriweather;
  font-weight: 300;
  src: url(https://frontier-assets.toptal.com/5692a0fd0fec2c692caf.woff2)
      format("woff2"),
    url(https://frontier-assets.toptal.com/ae93bdb515c61f6307ab.woff)
      format("woff"),
    url(https://frontier-assets.toptal.com/d020fef2646f9f861c69.otf)
      format("opentype");
}

@font-face {
  size-adjust: 120.6%;
  ascent-override: 87.57%;
  descent-override: 24.17%;
  font-display: swap;
  font-family: Merriweather Fallback;
  font-weight: 300;
  line-gap-override: 0%;
  src: local("Times New Roman");
}

@font-face {
  font-display: swap;
  font-family: Merriweather;
  font-weight: 700;
  src: url(https://frontier-assets.toptal.com/9f66e37ff984bf3f54bb.woff2)
      format("woff2"),
    url(https://frontier-assets.toptal.com/968299b4b4ed52de98a9.woff)
      format("woff"),
    url(https://frontier-assets.toptal.com/6ede7d35b91bce6e353e.otf)
      format("opentype");
}

@font-face {
  size-adjust: 123.93%;
  ascent-override: 85.19%;
  descent-override: 23.6%;
  font-display: swap;
  font-family: Merriweather Fallback;
  font-weight: 700;
  line-gap-override: 0%;
  src: local("Times New Roman");
}

body,
html {
  scroll-behavior: smooth;
}

#page-root,
body,
html {
  min-height: 100%;
}

@keyframes _2tPiREdh {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html {
  scroll-padding-top: 64px;
}

._2SKZhefz {
  align-items: center;
  display: flex;
  height: 64px;
  min-height: 64px;
  position: relative;
}

@media (min-width: 768px) {
  ._2SKZhefz {
    margin-right: 40px;
  }
}

.U1M-fb49 {
  display: none;
  font-size: 16px;
  line-height: 16px;
}

@media (min-width: 1024px) {
  .U1M-fb49 {
    display: block;
  }
}

._19S1Pxiu {
  display: none;
  height: 100%;
}

@media (min-width: 1050px) {
  ._1fA2l0Sj ._19S1Pxiu {
    display: flex;
  }
}

@media (min-width: 1200px) {
  ._2x_SsRBi ._19S1Pxiu {
    display: flex;
  }
}

@media (min-width: 1272px) {
  ._3Hr0AWy9 ._19S1Pxiu {
    display: flex;
  }
}

._19S1Pxiu [data-expanded="true"] ~ a._1rZ7kgJi,
._19S1Pxiu a._1rZ7kgJi:has(~ [data-expanded="true"]) {
  opacity: 0.7;
}

@media (min-width: 1024px) {
  ._19S1Pxiu:hover ._1rZ7kgJi:not(:hover) button,
  ._19S1Pxiu:hover a._1rZ7kgJi:not(:hover) {
    opacity: 0.7;
  }
}

._1H08x506 {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
}

@media (min-width: 768px) {
  ._1H08x506 {
    margin-left: auto;
  }
}

._1H08x506.HfVT27du {
  visibility: visible;
}

._3MRiAuyU {
  display: none;
}

@media (max-width: 767px) {
  ._3MRiAuyU:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (min-width: 1050px) {
  ._1fA2l0Sj ._3MRiAuyU {
    display: block;
  }

  ._1fA2l0Sj ._3MRiAuyU:not(:last-child) {
    margin-right: 16px;
  }
}

@media (min-width: 1200px) {
  ._2x_SsRBi ._3MRiAuyU {
    display: block;
  }

  ._2x_SsRBi ._3MRiAuyU:not(:last-child) {
    margin-right: 16px;
  }
}

@media (min-width: 1272px) {
  ._3Hr0AWy9 ._3MRiAuyU {
    display: block;
  }

  ._3Hr0AWy9 ._3MRiAuyU:not(:last-child) {
    margin-right: 16px;
  }
}

@media (min-width: 768px) {
  ._3MRiAuyU._2oFSXYPu {
    display: block;
  }
}

.CtkKdTBv {
  margin: 0 0 0 auto;
  position: absolute;
  right: 16px;
  top: 15px;
}

._2uDM8XnC .CtkKdTBv {
  right: 24px;
}

@media (min-width: 768px) {
  ._2uDM8XnC .CtkKdTBv {
    right: 32px;
  }
}

@media (min-width: 1024px) {
  ._2uDM8XnC .CtkKdTBv {
    right: 44px;
  }
}

@media (min-width: 1050px) {
  ._1fA2l0Sj .CtkKdTBv {
    display: none;
  }
}

@media (min-width: 1200px) {
  ._2x_SsRBi .CtkKdTBv {
    display: none;
  }
}

@media (min-width: 1272px) {
  ._3Hr0AWy9 .CtkKdTBv {
    display: none;
  }
}

.olcpnQ-e {
  display: none;
}

@media (min-width: 1050px) {
  ._1fA2l0Sj .olcpnQ-e {
    display: inline-block;
    flex-shrink: 0;
    margin-right: 16px;
    vertical-align: bottom;
  }
}

@media (min-width: 1200px) {
  ._2x_SsRBi .olcpnQ-e {
    display: inline-block;
    flex-shrink: 0;
    margin-right: 16px;
    vertical-align: bottom;
  }
}

@media (min-width: 1272px) {
  ._3Hr0AWy9 .olcpnQ-e {
    display: inline-block;
    flex-shrink: 0;
    margin-right: 16px;
    vertical-align: bottom;
  }
}

._10M8yw-N {
  align-items: center;
  display: flex;
  flex: 1;
  height: 100%;
  height: 64px;
  margin: 0 auto;
  max-width: 1272px;
  padding: 0 56px 0 16px;
  position: relative;
  width: 100%;
}

._10M8yw-N._2uDM8XnC {
  margin-inline: auto;
  padding-left: 24px;
  padding-right: 64px;
}

@media (min-width: 768px) {
  ._10M8yw-N._2uDM8XnC {
    padding-left: 32px;
    padding-right: 72px;
  }
}

@media (min-width: 1024px) {
  ._10M8yw-N._2uDM8XnC._10M8yw-N._2uDM8XnC {
    max-width: 1920px;
    padding-left: 44px;
    padding-right: 84px;
  }

  ._10M8yw-N._2uDM8XnC._10M8yw-N._2uDM8XnC._1IQj-k77 {
    max-width: 1440px;
  }
}

@media (min-width: 1200px) {
  ._10M8yw-N._2uDM8XnC._10M8yw-N._2uDM8XnC {
    padding-inline: 44px;
  }
}

@media (min-width: 1440px) {
  ._10M8yw-N._2uDM8XnC._10M8yw-N._2uDM8XnC {
    padding-inline: 112px;
  }
}

@media (min-width: 1920px) {
  ._10M8yw-N._2uDM8XnC._10M8yw-N._2uDM8XnC:not(._1IQj-k77) {
    padding-inline: 164px;
  }
}

@media (min-width: 1024px) {
  ._10M8yw-N._2uDM8XnC.TwMLpHUK._10M8yw-N._2uDM8XnC.TwMLpHUK {
    max-width: 1024px;
  }
}

@media (min-width: 1440px) {
  ._10M8yw-N._2uDM8XnC.TwMLpHUK._10M8yw-N._2uDM8XnC.TwMLpHUK {
    max-width: 1440px;
  }
}

@media (min-width: 1920px) {
  ._10M8yw-N._2uDM8XnC.TwMLpHUK:not(
      ._1IQj-k77
    )._10M8yw-N._2uDM8XnC.TwMLpHUK:not(._1IQj-k77) {
    max-width: 1920px;
  }
}

._10M8yw-N:focus-within {
  overflow: visible;
}

@media (min-width: 1050px) {
  ._10M8yw-N._1fA2l0Sj {
    padding-right: 16px;
  }
}

@media (min-width: 1272px) {
  ._10M8yw-N._3Hr0AWy9 {
    padding-right: 16px;
  }
}

@media (min-width: 1200px) {
  ._10M8yw-N:not(._3Hr0AWy9) {
    padding: 0 36px;
  }
}

._10M8yw-N._1yPD_vB2 {
  align-items: flex-start;
  background: #fff;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  padding: 0 16px 16px;
}

@media (min-width: 1050px) {
  ._1fA2l0Sj ._10M8yw-N._1yPD_vB2 {
    height: 64px;
  }
}

@media (min-width: 1200px) {
  ._2x_SsRBi ._10M8yw-N._1yPD_vB2 {
    height: 64px;
  }
}

@media (min-width: 1272px) {
  ._3Hr0AWy9 ._10M8yw-N._1yPD_vB2 {
    height: 64px;
  }
}

._10M8yw-N._1yPD_vB2._1q9IO1ou {
  overflow-y: visible;
}

._10M8yw-N._1yPD_vB2 ._19S1Pxiu {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 24px;
  width: 100%;
}

._10M8yw-N._1yPD_vB2 ._1H08x506 {
  display: flex !important;
  flex-direction: column;
}

@media (min-width: 768px) {
  ._10M8yw-N._1yPD_vB2 ._1H08x506 {
    flex-direction: row;
    justify-content: space-between;
  }
}

._10M8yw-N._1yPD_vB2 ._3MRiAuyU {
  display: block;
  flex-grow: 1;
  width: 100%;
}

@media (min-width: 768px) {
  ._10M8yw-N._1yPD_vB2 ._3MRiAuyU:not(:last-child) {
    margin-right: 16px;
  }
}

._10M8yw-N._1yPD_vB2 ._1FTFnJdO {
  animation: _2tPiREdh 0.4s;
  padding-bottom: 16px;
  width: 100%;
}

._10M8yw-N._1yPD_vB2 ._1FTFnJdO._1q9IO1ou {
  animation: none;
}

._10M8yw-N._1yPD_vB2 .CtkKdTBv {
  display: block;
}

._5J4FYFpA._1yPD_vB2 {
  position: fixed;
}

._5J4FYFpA._2FBYxJ66 {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  color: #000;
}

._5J4FYFpA._1UujKHl6 ._10M8yw-N:not(._1yPD_vB2):not(._26C85qBR),
._5J4FYFpA._3P1PDB08 ._10M8yw-N:not(._1yPD_vB2) {
  color: #fff;
}

.body-no-scrollbar {
  overflow: hidden;
}

.Vt5M1_D_:focus {
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

.Vt5M1_D_:focus:not(:focus-visible) {
  outline: 0;
  outline-offset: 0;
}

.Vt5M1_D_ {
  align-items: center;
  color: #262d3d;
  display: flex;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  position: relative;
  text-decoration: none;
}

.Vt5M1_D_:focus {
  outline-color: #204ecf;
  z-index: 1;
}

.Vt5M1_D_ + .Vt5M1_D_ {
  margin-left: 16px;
}

.Vt5M1_D_:focus {
  align-self: center;
}

.Vt5M1_D_._31BAhWCT:after,
.Vt5M1_D_:hover:after {
  border-top: 2px solid #204ecf;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
}

.Vt5M1_D_._2Ag8qsoM {
  color: #fff;
}

.Vt5M1_D_._2Ag8qsoM:hover:after {
  border-top-color: #fff;
}

.Vt5M1_D_._2Ag8qsoM._31BAhWCT:not(:hover):after {
  display: none;
}

.Vt5M1_D_._1ra0UBl2:hover:after {
  border-top-color: #25a9ef;
}

.Vt5M1_D_._3bXj9XwP {
  border-bottom: 1px solid #ebeced;
  font-size: 16px;
  line-height: 46px;
  margin-left: 0;
  width: 100%;
}

.Vt5M1_D_._3bXj9XwP:after {
  display: none;
}

._13qVZnF8:focus {
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

._13qVZnF8:focus:not(:focus-visible) {
  outline: 0;
  outline-offset: 0;
}

._13qVZnF8 {
  width: 100%;
  color: #fff;
}

._13qVZnF8:focus {
  outline-color: #204ecf;
  z-index: 1;
}

._13qVZnF8._1SDPwyms {
  font-weight: 400;
  padding-left: 0;
  padding-right: 0;
}

._13qVZnF8._1SDPwyms._1i-SFxc6 {
  color: #fff;
}

._13qVZnF8._2PJc2RVJ._13qVZnF8._2PJc2RVJ {
  display: none;
}

@media (min-width: 525px) {
  ._13qVZnF8._2PJc2RVJ._13qVZnF8._2PJc2RVJ {
    display: inline-block;
  }
}

._13qVZnF8.Das2kvhB {
  display: inline-block;
}

@media (min-width: 525px) {
  ._13qVZnF8.Das2kvhB {
    display: inline-block;
  }
}

._13qVZnF8.Das2kvhB:after {
  background: url(https://frontier-assets.toptal.com/ab6206079444ae88262c.svg) 0
    0/20px 16px no-repeat;
  bottom: 1px;
  content: "";
  display: inline-block;
  height: 16px;
  margin-left: 3px;
  position: relative;
  vertical-align: middle;
  width: 20px;
}

@media (min-width: 768px) {
  ._13qVZnF8.Das2kvhB:after {
    background: url(https://frontier-assets.toptal.com/ce091f43622bc9c95207.svg)
      0 0/65px 16px no-repeat;
    height: 16px;
    width: 65px;
  }
}

._3eM4gMdx {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
}

._2-oDGCM5:focus,
._3D9T9QSe:focus {
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

._2-oDGCM5:focus:not(:focus-visible),
._3D9T9QSe:focus:not(:focus-visible) {
  outline: 0;
  outline-offset: 0;
}

._3D9T9QSe {
  align-items: center;
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: flex;
  font-size: inherit;
  height: 100%;
  line-height: inherit;
  margin: 0;
  padding: 0;
  width: 100%;
}

._3D9T9QSe:focus {
  outline-color: #204ecf;
  z-index: 1;
}

._3D9T9QSe:focus:after {
  margin-top: 4px;
}

._3vjPAKai {
  content: "";
  display: block;
  height: 10px;
  margin-left: 4px;
  margin-top: 3px;
  transform: rotate(90deg);
  transition: transform 0.2s linear;
  width: 10px;
}

._2-oDGCM5 {
  color: #455065;
  display: block;
  padding: 8px;
}

._2-oDGCM5:focus {
  outline-color: #204ecf;
  z-index: 1;
}

._2-oDGCM5._3mFUzdRA,
._2-oDGCM5:hover {
  color: #204ecf;
}

._3eM4gMdx {
  background: #fff;
  border-radius: 0 0 4px 4px;
  max-width: 380px;
  padding: 16px;
  position: absolute;
  top: 100%;
  visibility: hidden;
  width: 380px;
}

._1PI1h4vZ._1gHFhirN {
  display: block;
}

._1PI1h4vZ ._3D9T9QSe {
  border-bottom: none;
}

@media (max-width: 767px) {
  ._1PI1h4vZ ._3D9T9QSe {
    justify-content: space-between;
  }
}

._1PI1h4vZ ._3eM4gMdx {
  box-shadow: none;
  height: 0;
  margin: -4px -8px 0;
  max-width: none;
  overflow-y: hidden;
  padding: 4px 0;
  position: static;
  transition-delay: 0ms, 0.3s;
  transition-duration: 0.3s, 0ms;
  transition-property: height, visibility;
  transition-timing-function: ease-in-out;
  width: 100%;
}

._1PI1h4vZ ._2-oDGCM5 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 8px;
  min-height: 36px;
  padding: 8px 0;
}

._1PI1h4vZ._1t8Zrevj ._3eM4gMdx {
  height: auto;
  transition: none;
}

._2L30v7CR {
  -webkit-backdrop-filter: blur(35px);
  backdrop-filter: blur(35px);
  background: rgba(0, 0, 0, 0.6);
}

._2L30v7CR ._2-oDGCM5 {
  color: #fff;
}

._2L30v7CR ._2-oDGCM5._3mFUzdRA,
._2L30v7CR ._2-oDGCM5:hover {
  color: #204ecf;
}

._2L30v7CR:before {
  background: linear-gradient(
    132deg,
    hsla(0, 0%, 100%, 0.4),
    hsla(0, 0%, 100%, 0) 51.82%,
    hsla(0, 0%, 100%, 0.5) 96.43%
  );
  border-radius: 0 0 5.5px 5.5px;
  content: "";
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 1.5px;
  position: absolute;
  z-index: -1;
}

._1gHFhirN {
  display: flex;
  position: relative;
}

._1gHFhirN._2uG9PbI8 ._3eM4gMdx {
  transition-delay: 0s;
  visibility: visible;
}

._1gHFhirN._2uG9PbI8 ._3vjPAKai {
  transform: rotate(-90deg);
}

._1gHFhirN._2uG9PbI8._1PI1h4vZ ._3D9T9QSe {
  font-weight: 600;
}

._38aPcJyj._1gHFhirN._2uG9PbI8 ._3D9T9QSe:after {
  border-top-color: #fff;
}

.CV4YLXjk {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-weight: 400;
  height: 64px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.CV4YLXjk:focus-within {
  overflow: visible;
}

.CV4YLXjk._17f6jrU- {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
}

.CV4YLXjk._17f6jrU-._3dWgWApq {
  background: rgba(0, 0, 0, 0.6);
  transform: translateZ(0);
}

.CV4YLXjk._17f6jrU-._3dWgWApq:before {
  -webkit-backdrop-filter: blur(35px);
  backdrop-filter: blur(35px);
  background: linear-gradient(
    179deg,
    rgba(0, 0, 0, 0.15) 0.8%,
    hsla(0, 0%, 100%, 0) 104.82%
  );
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

._149kcYtF {
  background: none;
  border: 0;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  outline: none;
  padding: 0;
  width: 24px;
}

._149kcYtF > span {
  background-color: currentColor;
  border-radius: 2px;
  display: block;
  height: 3px;
  margin: 6px 0;
  transition-duration: 0.2s;
  transition-property: height, opacity, transform;
}

._149kcYtF._2D2qdNBZ > span {
  height: 2px;
  margin-block: 8px;
}

._149kcYtF._2Oum_hbN > span:nth-child(2n) {
  margin-top: -9px;
  transform: rotate(-45deg);
}

._149kcYtF._2Oum_hbN > span:first-child {
  margin-top: 16px;
  transform: rotate(45deg);
}

._149kcYtF._2Oum_hbN > span:last-child {
  opacity: 0;
}

._1CuSKPID:focus,
._2d9aQFyh:focus,
._2wTouRSj:focus,
._2Yt-rhsd:focus,
.eivr0c4y:focus,
.fjJsJsV-:focus,
.SGF3li68:focus {
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

._1CuSKPID:focus:not(:focus-visible),
._2d9aQFyh:focus:not(:focus-visible),
._2wTouRSj:focus:not(:focus-visible),
._2Yt-rhsd:focus:not(:focus-visible),
.eivr0c4y:focus:not(:focus-visible),
.fjJsJsV-:focus:not(:focus-visible),
.SGF3li68:focus:not(:focus-visible) {
  outline: 0;
  outline-offset: 0;
}

._1SZtmxGM {
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  outline: none;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
}

._1SZtmxGM + ._1SZtmxGM {
  margin-left: 8px;
}

.Gfdjofs5 {
  font-size: 12px;
  line-height: 16px;
  padding: 3px 16px;
}

._1S6tHuDo {
  font-size: 14px;
  line-height: 20px;
  padding: 7px 24px;
}

._1ZmX59eI {
  font-size: 16px;
  line-height: 24px;
  padding: 13px 48px;
}

@media (max-width: 767px) {
  ._1ZmX59eI {
    padding-left: 32px;
    padding-right: 32px;
  }
}

._7ND6dHLs {
  font-size: 20px;
  line-height: 28px;
  padding: 11px 64px;
}

@media (max-width: 767px) {
  ._7ND6dHLs {
    padding-left: 32px;
    padding-right: 32px;
  }
}

._2Yt-rhsd {
  background: #00cc83;
  border-color: #00cc83;
  color: #fff;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color;
}

._2Yt-rhsd:focus {
  outline-color: #204ecf;
  z-index: 1;
}

._2Yt-rhsd._1kTWWmje,
._2Yt-rhsd:hover {
  background: #05947c;
  border-color: #05947c;
  color: #fff;
}

._2Yt-rhsd.M48O339E,
._2Yt-rhsd:disabled {
  background: #d8d9dc;
  border-color: #d8d9dc;
  color: #fff;
  cursor: default;
}

._2d9aQFyh {
  background: #204ecf;
  border-color: #204ecf;
  color: #fff;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color;
}

._2d9aQFyh:focus {
  outline-color: #204ecf;
  z-index: 1;
}

._2d9aQFyh._1kTWWmje,
._2d9aQFyh:hover {
  background: #183a9e;
  border-color: #183a9e;
  color: #fff;
}

._2d9aQFyh.M48O339E,
._2d9aQFyh:disabled {
  background: #d8d9dc;
  border-color: #d8d9dc;
  color: #fff;
  cursor: default;
}

.eivr0c4y {
  background: transparent;
  border-color: #00cc83;
  color: #00cc83;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color;
}

.eivr0c4y:focus {
  outline-color: #204ecf;
  z-index: 1;
}

.eivr0c4y._1kTWWmje,
.eivr0c4y:hover {
  background: #00cc83;
  border-color: #00cc83;
  color: #fff;
}

.eivr0c4y.M48O339E,
.eivr0c4y:disabled {
  background: #fff;
  border-color: #d8d9dc;
  color: #c4c6ca;
  cursor: default;
}

._2wTouRSj {
  background: transparent;
  border-color: #fff;
  color: #fff;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color;
}

._2wTouRSj:focus {
  outline-color: #204ecf;
  z-index: 1;
}

._2wTouRSj._1kTWWmje,
._2wTouRSj:hover {
  background: hsla(0, 0%, 100%, 0.05);
  border-color: #fff;
  color: #fff;
}

._2wTouRSj.M48O339E,
._2wTouRSj:disabled {
  background: #fff;
  border-color: #d8d9dc;
  color: #c4c6ca;
  cursor: default;
}

.SGF3li68 {
  background: #fff;
  border-color: #d8d9dc;
  color: #204ecf;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color;
}

.SGF3li68:focus {
  outline-color: #204ecf;
  z-index: 1;
}

.SGF3li68._1kTWWmje,
.SGF3li68:hover {
  background: #fff;
  border-color: #d8d9dc;
  color: #183a9e;
}

.SGF3li68.M48O339E,
.SGF3li68:disabled {
  background: #fff;
  border-color: #d8d9dc;
  color: #c4c6ca;
  cursor: default;
}

._1CuSKPID {
  background: #fff;
  border-color: #d8d9dc;
  color: #000;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color;
}

._1CuSKPID:focus {
  outline-color: #204ecf;
  z-index: 1;
}

._1CuSKPID._1kTWWmje,
._1CuSKPID:hover {
  background: #fff;
  border-color: #d8d9dc;
  color: #183a9e;
}

._1CuSKPID.M48O339E,
._1CuSKPID:disabled {
  background: #fff;
  border-color: #d8d9dc;
  color: #c4c6ca;
  cursor: default;
}

.fjJsJsV- {
  background: transparent;
  border-color: transparent;
  color: #000;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color;
}

.fjJsJsV-:focus {
  outline-color: #204ecf;
  z-index: 1;
}

.fjJsJsV-._1kTWWmje,
.fjJsJsV-:hover {
  background: transparent;
  border-color: transparent;
  color: #183a9e;
}

.fjJsJsV-.M48O339E,
.fjJsJsV-:disabled {
  background: #fff;
  border-color: #d8d9dc;
  color: #c4c6ca;
  cursor: default;
}

._1lqQP1In:focus {
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

._1lqQP1In:focus:not(:focus-visible) {
  outline: 0;
  outline-offset: 0;
}

._2zFNtrUH {
  align-items: baseline;
  color: #455065;
  display: flex;
  flex-shrink: 0;
  font-size: 29px;
  line-height: 29px;
  max-width: 100%;
}

._2zFNtrUH img,
._2zFNtrUH svg {
  display: inline-block;
  vertical-align: -17.5%;
}

._2zFNtrUH svg {
  transform: translateY(0.5px);
}

._1lqQP1In {
  align-items: baseline;
  color: inherit;
  display: flex;
}

._1lqQP1In:focus {
  outline-color: #204ecf;
  z-index: 1;
}

._3pv3brId {
  color: #204ecf;
  line-height: 32px;
}

._3IvwqTLq,
._3pv3brId {
  height: 32px;
}

._3sedtAc7 {
  height: 29px;
  margin: 0 9px 0 1px;
}

._3sedtAc7:not([class*="hidden"]) + ._2h0Q-csS > span {
  color: inherit;
}

._2h0Q-csS {
  margin: 0 6px 0 -6px;
}

._2h0Q-csS span {
  color: #204ecf;
  font-size: 13px;
  line-height: 13px;
  margin-top: -8px;
  position: absolute;
}

._1m09hJFy {
  color: #262d3d;
  font-size: 30px;
  letter-spacing: -1px;
  margin: 0 0 0 8px;
  white-space: nowrap;
}

._2ZgGtzgx {
  align-items: baseline;
  display: flex;
  margin-left: 16px;
  min-height: 32px;
}

._3kK1Rr6A:before {
  border-left: 1px solid #c4c6ca;
  content: "";
  display: inline-block;
  height: 32px;
  margin-right: 16px;
  vertical-align: -20%;
}

.m_DMFHig {
  color: #455065;
  display: inline-block;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.6px;
  line-height: 19px;
}

.m_DMFHig span {
  font-size: 13px;
  line-height: 13px;
  vertical-align: -30%;
}

._3lBhZcpL ._1m09hJFy,
._3lBhZcpL ._2h0Q-csS > span,
._3lBhZcpL._2zFNtrUH,
._3lBhZcpL ._3pv3brId,
._3lBhZcpL .m_DMFHig {
  color: inherit;
}

.LbfAhr52 {
  line-height: 35px;
}

.LbfAhr52 ._3IvwqTLq,
.LbfAhr52 ._3pv3brId {
  height: 37px;
}

.LbfAhr52 ._3sedtAc7 {
  height: 35px;
}

.LbfAhr52 ._2h0Q-csS span {
  font-size: 15px;
}

.LbfAhr52 ._1m09hJFy {
  font-size: 36px;
  letter-spacing: -1.2px;
  margin-left: 9px;
}

._33gzocPg {
  line-height: 22px;
  margin-bottom: 1px;
}

._33gzocPg ._3IvwqTLq,
._33gzocPg ._3pv3brId {
  height: 25px;
}

._33gzocPg ._3sedtAc7 {
  height: 22px;
  margin-right: 7px;
}

._33gzocPg ._2h0Q-csS {
  margin: 0 5px 0 -5px;
}

._33gzocPg ._2h0Q-csS span {
  font-size: 10px;
  line-height: 14px;
}

._33gzocPg ._1m09hJFy {
  font-size: 24px;
  letter-spacing: -0.8px;
  margin-left: 6px;
}

._33gzocPg svg {
  transform: none;
}

._1PF6Xbpx {
  line-height: 17px;
}

._1PF6Xbpx ._3IvwqTLq,
._1PF6Xbpx ._3pv3brId {
  height: 21px;
}

._1PF6Xbpx ._3sedtAc7 {
  height: 18px;
  margin-right: 4px;
}

._1PF6Xbpx ._2h0Q-csS {
  margin: 0 4px 0 -3px;
}

._1PF6Xbpx ._2h0Q-csS span {
  font-size: 8px;
  line-height: 16px;
}

._1PF6Xbpx ._1m09hJFy {
  font-size: 18px;
  letter-spacing: -0.6px;
  margin-left: 4px;
}

._2n5lyJsq {
  line-height: 17px;
}

._2n5lyJsq ._3IvwqTLq,
._2n5lyJsq ._3pv3brId {
  display: flex;
  height: 14px;
}

._2n5lyJsq ._3sedtAc7 {
  height: 14px;
  margin-right: 4px;
}

._2n5lyJsq ._2h0Q-csS {
  margin: 0 0 0 -2px;
}

._2n5lyJsq ._2h0Q-csS span {
  font-size: 6px;
  line-height: 8px;
}

._2n5lyJsq ._1m09hJFy {
  font-size: 14px;
  letter-spacing: -0.4px;
  margin-left: 3px;
}

.elMww11j {
  display: none;
}

@media (min-width: 768px) {
  ._2Bso87Uq {
    display: none;
  }
}

@media (min-width: 1024px) {
  ._2IC_Z8fZ {
    display: none;
  }
}

@media (min-width: 1200px) {
  .wvd4yX4K {
    display: none;
  }
}

@media (min-width: 768px) {
  ._2N72yWhX {
    display: unset;
  }

  ._2N72yWhX + ._2h0Q-csS > span {
    color: inherit;
  }
}

@media (min-width: 1024px) {
  ._217YOfpM {
    display: unset;
  }

  ._217YOfpM + ._2h0Q-csS > span {
    color: inherit;
  }
}

@media (min-width: 1200px) {
  ._1ox-Xanm {
    display: unset;
  }

  ._1ox-Xanm + ._2h0Q-csS > span {
    color: inherit;
  }
}

._12jVcp4W,
._12jVcp4W ._1lqQP1In,
._12jVcp4W ._2ZgGtzgx {
  align-items: center;
}

._12jVcp4W .m_DMFHig {
  display: block;
  padding-top: 4px;
}

._12jVcp4W ._2h0Q-csS span {
  margin-top: 3px;
}

@media (min-width: 768px) {
  ._2Ws5vMcU,
  ._2Ws5vMcU ._1lqQP1In,
  ._2Ws5vMcU ._2ZgGtzgx {
    align-items: center;
  }

  ._2Ws5vMcU .m_DMFHig {
    display: block;
    padding-top: 4px;
  }

  ._2Ws5vMcU ._2h0Q-csS span {
    margin-top: 3px;
  }
}

@media (min-width: 1024px) {
  ._22s4LGPZ,
  ._22s4LGPZ ._1lqQP1In,
  ._22s4LGPZ ._2ZgGtzgx {
    align-items: center;
  }

  ._22s4LGPZ .m_DMFHig {
    display: block;
    padding-top: 4px;
  }

  ._22s4LGPZ ._2h0Q-csS span {
    margin-top: 3px;
  }
}

@media (min-width: 1200px) {
  ._2niAWoar,
  ._2niAWoar ._1lqQP1In,
  ._2niAWoar ._2ZgGtzgx {
    align-items: center;
  }

  ._2niAWoar .m_DMFHig {
    display: block;
    padding-top: 4px;
  }

  ._2niAWoar ._2h0Q-csS span {
    margin-top: 3px;
  }
}

@media (min-width: 768px) {
  ._2uBBObmD,
  ._2uBBObmD ._1lqQP1In,
  ._2uBBObmD ._2ZgGtzgx {
    align-items: baseline;
  }

  ._2uBBObmD .m_DMFHig {
    display: inline-block;
    padding-top: 0;
  }

  ._2uBBObmD ._2h0Q-csS span {
    margin-top: -8px;
  }
}

@media (min-width: 1024px) {
  .M0cmECfZ,
  .M0cmECfZ ._1lqQP1In,
  .M0cmECfZ ._2ZgGtzgx {
    align-items: baseline;
  }

  .M0cmECfZ .m_DMFHig {
    display: inline-block;
    padding-top: 0;
  }

  .M0cmECfZ ._2h0Q-csS span {
    margin-top: -8px;
  }
}

@media (min-width: 1200px) {
  ._1VFRKttE,
  ._1VFRKttE ._1lqQP1In,
  ._1VFRKttE ._2ZgGtzgx {
    align-items: baseline;
  }

  ._1VFRKttE .m_DMFHig {
    display: inline-block;
    padding-top: 0;
  }

  ._1VFRKttE ._2h0Q-csS span {
    margin-top: -8px;
  }
}

.aowwyHr4 svg {
  height: 100%;
  width: auto;
}

._2s8qlRft {
  color: inherit;
}

._2s8qlRft svg path {
  fill: currentColor;
}

._2LwF1VTp {
  margin-bottom: 96px;
}

.xRIQihrv {
  margin-bottom: 64px;
}

._1v145jWl,
.BQABvKCL:last-child:not(._1XZhCjMW) {
  margin-bottom: 0;
}

._1GhccUT5 {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  width: 1272px;
}

@media (min-width: 1024px) {
  ._1GhccUT5 {
    padding-left: 36px;
    padding-right: 36px;
  }
}

.is-effect-opacity {
  transition: opacity 0.5s ease-in-out;
  will-change: opacity;
}

.is-effect-blur {
  transition: filter 0.5s ease-in-out, opacity 0.5s ease-in-out;
  will-change: opacity, filter;
}

.lazyload.is-effect-opacity {
  opacity: 0;
}

.lazyload.is-effect-blur {
  filter: blur(15px);
  opacity: 0;
}

.lazyloaded.is-effect-opacity {
  opacity: 1;
}

.lazyloaded.is-effect-blur {
  filter: blur(0);
  opacity: 1;
}

._2R-KfxZE {
  display: contents;
}

._3pqDgecg:focus {
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

._3pqDgecg:focus:not(:focus-visible) {
  outline: 0;
  outline-offset: 0;
}

._3pqDgecg {
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  line-height: normal;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 0;
  width: auto;
}

._3pqDgecg::-moz-focus-inner {
  border: 0;
  padding: 0;
}

._3pqDgecg {
  align-items: center;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: Proxima Nova, proxima-nova, Proxima Nova Fallback, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  gap: 16px;
  margin-top: auto;
  transition: opacity 0.2s;
}

._3pqDgecg:focus {
  outline-color: #204ecf;
  z-index: 4;
}

._3pqDgecg:hover {
  opacity: 0.7;
}

._3pqDgecg:focus {
  transition: none;
}

._1f13-h5Z {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  width: 100%;
}

@media (min-width: 426px) {
  ._1f13-h5Z {
    display: block;
    width: auto;
  }
}

._2krRG6TW a:focus {
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

._2krRG6TW a:focus:not(:focus-visible) {
  outline: 0;
  outline-offset: 0;
}

._2krRG6TW {
  color: inherit;
}

._2krRG6TW a {
  height: 1px;
  overflow: hidden;
  position: absolute;
  text-decoration: none;
  text-transform: capitalize;
  top: -3em;
  width: 1px;
}

._2krRG6TW a:focus {
  clip: auto;
  background: #204ecf;
  color: #fff;
  height: auto;
  left: 5px;
  outline-color: #204ecf;
  padding: 8px 16px;
  top: 5px;
  width: auto;
  z-index: 11;
}

._2FqPI9Ec {
  height: 64px;
  width: 64px;
}

._3lhI9MaX:focus {
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

._3lhI9MaX:focus:not(:focus-visible) {
  outline: 0;
  outline-offset: 0;
}

._3lhI9MaX {
  align-items: stretch;
  background: #ebeced;
  border-left: 1px solid #d8d9dc;
  border-top: 1px solid #d8d9dc;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: -1px 0 0 -1px;
  padding: 40px;
  text-decoration: none;
}

._3lhI9MaX:focus {
  outline-color: #204ecf;
  z-index: 1;
}

._3lhI9MaX[role="button"],
._3lhI9MaX[role="listitem"] {
  cursor: pointer;
}

._3lhI9MaX ._3-V2dQm1 {
  display: block;
}

._3lhI9MaX ._1gtqo-Us {
  display: none;
}

._3lhI9MaX .PLKOiGVb {
  font-size: 20px;
  font-weight: 400;
  margin: 20px 0;
}

._3lhI9MaX .k46Xi5sX {
  font-weight: 400;
  line-height: 24px;
  margin: 16px 0;
}

._3lhI9MaX ._2U-Ypd8Y {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  visibility: hidden;
}

@media (hover) {
  ._3lhI9MaX[role="button"]:focus-within,
  ._3lhI9MaX[role="button"]:hover,
  ._3lhI9MaX[role="listitem"]:focus-within,
  ._3lhI9MaX[role="listitem"]:hover {
    background-color: #7d8cb4;
    color: #fff;
    transition: background-color 0.3s;
  }

  ._3lhI9MaX[role="listitem"]:hover img{
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  }

  ._3lhI9MaX[role="button"]:focus-within a,
  ._3lhI9MaX[role="button"]:hover a,
  ._3lhI9MaX[role="listitem"]:focus-within a,
  ._3lhI9MaX[role="listitem"]:hover a {
    color: #fff;
    transition: background-color 0.3s;
  }

  ._3lhI9MaX[role="button"]:focus-within ._2U-Ypd8Y,
  ._3lhI9MaX[role="button"]:hover ._2U-Ypd8Y,
  ._3lhI9MaX[role="listitem"]:focus-within ._2U-Ypd8Y,
  ._3lhI9MaX[role="listitem"]:hover ._2U-Ypd8Y {
    visibility: visible;
  }

  ._3lhI9MaX[role="button"]:focus-within .k46Xi5sX,
  ._3lhI9MaX[role="button"]:hover .k46Xi5sX,
  ._3lhI9MaX[role="listitem"]:focus-within .k46Xi5sX,
  ._3lhI9MaX[role="listitem"]:hover .k46Xi5sX {
    color: #edf0f8;
  }

  ._3lhI9MaX[role="button"]:focus-within ._3-V2dQm1,
  ._3lhI9MaX[role="button"]:hover ._3-V2dQm1,
  ._3lhI9MaX[role="listitem"]:focus-within ._3-V2dQm1,
  ._3lhI9MaX[role="listitem"]:hover ._3-V2dQm1 {
    display: none;
  }

  ._3lhI9MaX[role="button"]:focus-within ._1gtqo-Us,
  ._3lhI9MaX[role="button"]:hover ._1gtqo-Us,
  ._3lhI9MaX[role="listitem"]:focus-within ._1gtqo-Us,
  ._3lhI9MaX[role="listitem"]:hover ._1gtqo-Us {
    display: block;
  }
}

._3CrcRzJO {
  height: inherit;
  position: relative;
}

._2UMFzw9N {
  bottom: -50%;
  display: none;
  left: 50%;
  opacity: 0;
  position: absolute;
  right: -50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease;
  z-index: -1;
}

._2UMFzw9N.tuWRrELy {
  display: flex;
  opacity: 1;
  z-index: 1;
}

._3XO0ni7l {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  overflow: hidden;
}

._3XO0ni7l:focus-within {
  overflow: visible;
}

@media (max-width: 767px) {
  ._3XO0ni7l {
    margin: 0 -24px;
  }
}

._2EowWTU9 {
  flex: 1 2 324px;
}

._24nc1VRa:focus {
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

._24nc1VRa:focus:not(:focus-visible) {
  outline: 0;
  outline-offset: 0;
}

@keyframes _33UlCTR1 {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

._1RVnujnd._2JZDIyX4 {
  min-height: 92px;
}

._1RVnujnd.oP6SFTpE {
  min-height: 64px;
}

._1RVnujnd.jN6WPFAO {
  opacity: 0;
}

._1RVnujnd:focus-within {
  overflow: visible;
}

._201399eP {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

._1sd92lCm ._201399eP {
  justify-content: center;
  right: 50%;
  width: -moz-min-content;
  width: min-content;
}

.oP6SFTpE ._201399eP {
  justify-content: space-between;
}

._24nc1VRa {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 0;
  position: relative;
}

._24nc1VRa:focus {
  outline-color: #204ecf;
  z-index: 1;
}

@media (max-width: 767px) {
  ._24nc1VRa {
    height: 80px;
  }
}

._24nc1VRa,
._24nc1VRa * {
  transition: 0.2s;
}

._2JZDIyX4 ._24nc1VRa {
  flex: 1;
  height: 92px;
  min-width: 148px;
  padding: 0 16px;
}

.oP6SFTpE ._24nc1VRa {
  flex: 0;
  height: 64px;
  min-width: unset;
  padding: 0 8px;
}

._24nc1VRa:focus {
  transition: none;
}

.KMx9AvDa ._24nc1VRa {
  animation: _33UlCTR1 2s forwards;
}

._11hjnbA3 ._24nc1VRa {
  opacity: 1;
}

._3rz6Jgim {
  display: inline-flex;
}

._1sd92lCm ._3rz6Jgim path,
._2OgHLQdK ._3rz6Jgim path,
._2R-GV2Af ._3rz6Jgim path {
  fill: #84888e;
}

._2sZQRZbB ._3rz6Jgim path {
  fill: #c4c6ca;
}

.-SxxX2eG ._3rz6Jgim path {
  fill: #fff;
}

._1mEht5Xb {
  align-items: center;
  color: #204ecf;
  display: flex;
  flex-direction: row;
  font-size: 9px;
  font-weight: 400;
  justify-content: space-around;
  line-height: 9px;
  margin-top: 22px;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  white-space: nowrap;
}

.oP6SFTpE ._1mEht5Xb {
  display: none;
}

._2sZQRZbB ._1mEht5Xb {
  color: #edf0f8;
}

.-SxxX2eG ._1mEht5Xb {
  color: #7c88ac;
  font-weight: 700;
}

._1mEht5Xb:before {
  background: url(https://frontier-assets.toptal.com/791085216504bc3fec18.svg)
    no-repeat;
  height: 11px;
  left: -14px;
  position: absolute;
  top: -1px;
  width: 11px;
}

@media (min-width: 768px) {
  .LMLtaYyG:hover._1sd92lCm,
  .LMLtaYyG:hover._2OgHLQdK,
  .LMLtaYyG:hover._2R-GV2Af,
  .LMLtaYyG:hover._2sZQRZbB {
    background: rgba(0, 0, 0, 0.1);
  }

  .LMLtaYyG:hover.-SxxX2eG {
    background: hsla(0, 0%, 100%, 0.1);
  }
}

.LMLtaYyG:hover ._1mEht5Xb {
  margin-left: 8px;
}

.LMLtaYyG:hover ._1mEht5Xb:before {
  content: "";
}

.LMLtaYyG:hover ._3rz6Jgim path {
  fill: #000;
}

.LMLtaYyG:hover.-SxxX2eG ._1mEht5Xb,
.LMLtaYyG:hover._2sZQRZbB ._1mEht5Xb {
  color: #fff;
}

.LMLtaYyG:hover.-SxxX2eG ._3rz6Jgim path,
.LMLtaYyG:hover._2sZQRZbB ._3rz6Jgim path {
  fill: #fff;
}

._21yCG_iO {
  max-width: 100%;
}

._21yCG_iO._2qASkz-S {
  display: flex;
}

._1rTgPZH- {
  background-color: #f6f8fb;
  color: #262d3d;
}

._3ffjothY {
  background-color: transparent;
}

._2WCXFkQt,
._3ffjothY {
  color: #262d3d;
}

@media (min-width: 1024px) {
  ._2WCXFkQt {
    background-color: #f6f8fb;
    min-height: 92px;
  }
}

._3Br5KT3p {
  background: transparent;
  color: #fff;
}

._2AvjCo1e {
  background-color: #11215a;
  color: #fff;
}

._3OWYe9UK {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto !important;
  overflow: hidden;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

@media (min-width: 768px) {
  ._2qASkz-S ._3OWYe9UK {
    gap: 24px;
  }
}

@media (min-width: 1440px) {
  ._2qASkz-S ._3OWYe9UK {
    gap: 64px;
  }
}

._3Yk_uEDx ._3OWYe9UK {
  width: 1272px;
}

._8HlSETqr ._3OWYe9UK {
  box-sizing: content-box;
  flex-grow: 1;
  padding-left: 24px;
  padding-right: 24px;
  width: auto;
}

@media (min-width: 768px) {
  ._8HlSETqr ._3OWYe9UK {
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media (min-width: 1440px) {
  ._8HlSETqr ._3OWYe9UK {
    margin: auto;
    max-width: 1592px;
    padding-left: 112px;
    padding-right: 112px;
  }
}

@media (min-width: 1920px) {
  ._8HlSETqr ._3OWYe9UK {
    padding-left: 164px;
    padding-right: 164px;
  }
}

._3OWYe9UK:focus-within {
  overflow: visible;
}

@media (min-width: 768px) {
  ._3OWYe9UK {
    flex-direction: row;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  ._2WCXFkQt ._3OWYe9UK {
    flex-direction: column;
  }
}

._1WFc0gTx {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0;
  min-width: 220px;
  opacity: 0.7;
  text-align: left;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  ._1WFc0gTx {
    width: 220px;
  }
}

@media (max-width: 767px) {
  ._1WFc0gTx {
    align-items: flex-end;
    min-height: 48px;
    padding: 4px 0;
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 767px) and (max-width: 410px) {
  ._1WFc0gTx {
    margin-top: 20px;
  }
}

.C-WFb9I5 ._1WFc0gTx {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.57px;
}

._2qASkz-S ._1WFc0gTx {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.346px;
}

@media (max-width: 767px) {
  ._2qASkz-S ._1WFc0gTx {
    margin: 0;
    min-height: 34px;
    padding: 16px 0 0;
  }
}

@media (min-width: 768px) {
  ._2qASkz-S ._1WFc0gTx {
    min-width: 122px;
    width: 122px;
  }
}

._2AvjCo1e ._1WFc0gTx {
  color: #7c88ac;
  font-weight: 600;
}

@media (min-width: 768px) {
  ._2WCXFkQt ._1WFc0gTx {
    padding: 24px 0 4px;
    text-align: center;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  ._2WCXFkQt ._1WFc0gTx {
    padding: 0;
    text-align: left;
    width: 220px;
  }
}

@media (min-width: 1440px) {
  ._2qASkz-S._8HlSETqr ._1WFc0gTx {
    min-width: 220px;
    width: 220px;
  }
}

.bQ2Eb3bF {
  flex: 1;
  min-height: 92px;
  width: 100%;
}

@media (max-height: 400px), (max-width: 768px) {
  ._42PZKKQJ {
    display: none;
  }
}

@media (max-width: 1049px) {
  .bpZK6_os {
    background: #d2d6e2;
    position: fixed;
    transform: translateY(0);
    transition: transform 0.2s ease-in;
  }

  .bpZK6_os #navbar-mobile-cta {
    padding-left: 12px;
    padding-right: 12px;
  }

  ._3kCwMieF #navbar-actions-toolbar,
  ._3kCwMieF #navbar-mobile-cta {
    display: none;
  }

  ._39vcB6EV {
    transform: translateY(-64px);
  }

  ._39vcB6EV:not(._1avCUmgC) {
    background: #fff;
  }
}

._2HbpbSk_ {
  animation: _1ands4Ea 0.5s ease-in-out;
}

._2HbpbSk_:focus {
  -webkit-clip-path: none !important;
  clip-path: none !important;
}

._2TCVO6M5 {
  animation: _2H6BjDZ9 2s linear infinite;
}

@keyframes _2H6BjDZ9 {
  0% {
    opacity: 1;
    transform: scale(0.1);
  }

  70% {
    opacity: 0;
    transform: scale(2.5);
  }

  to {
    opacity: 0;
  }
}

@keyframes _1ands4Ea {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

._2R6V1L5s {
  margin: 0 auto;
  max-width: 1272px;
}

._8_KiMJqr {
  min-height: 398px;
}

@media (min-width: 768px) {
  ._8_KiMJqr {
    min-height: 455px;
  }
}

@media (min-width: 1024px) {
  ._8_KiMJqr {
    min-height: 348px;
  }
}

._1Xuje4q0 a {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
  white-space: nowrap;
}

._1Xuje4q0 a:hover {
  text-decoration: none;
}

._1Xuje4q0 a:visited {
  color: inherit;
}

._1Xuje4q0 a:focus {
  outline: 2px solid #204ecf;
  outline-offset: 2px;
}

._1Xuje4q0 sup {
  font-size: 28px;
  line-height: 28px;
  vertical-align: super;
}
